div[kemono-injected] > img {
    visibility: hidden;
}

div[kemono-injected]:hover > img {
    visibility: visible;
}

.kemono-wrapper {
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.kemono-wrapper:hover {
    background-image: none!important;
}